/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #494949;
    color: #333;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 1em 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

main {
    padding: 2em;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin: 2em 0;
    padding: 2em;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

.project-pic{
    max-width: 10%;
    height: auto;
}
.artproject-pic{
    max-width: 25%;
    height: auto;
}
.modal-img {
    width: 50%;
    max-height: auto;
    object-fit: cover;
}
.modal-vid {
    object-fit: cover;
}
.modal-content {
    text-align: center;
}

section h2 {
    position: relative;
}

section h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #333;
    margin: 8px auto;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1em;
    transition: transform 0.3s;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.project {
    margin-bottom: 1em;
    cursor: pointer;
}

.project h3 {
    margin-top: 0;
}

.project-pic {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.project-pic:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #007BFF;
    text-decoration: underline;
}

/* Fade-in animation */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Adding fade-in class */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

/* Delay animations for different sections */
#about {
    animation-delay: 0.5s;
}

#projects {
    animation-delay: 1s;
}

#contact {
    animation-delay: 1.5s;
}

footer {
    animation-delay: 2s;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeInModal 0.5s forwards;
}

@keyframes fadeInModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
